@model PhotographyManager.Web.Models.Search.AdvancedSearchModel

@{
    ViewBag.Title = "AdvancedSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Advanced Search</h2>

<div class="well-lg">
    <form method="post" enctype="multipart/form-data" action=@Url.Action("AdvancedSearchResult", "Search")>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <ul>
                <li>
                    @Html.Label("Name")
                    <input type="text" name="Name" id="Name" />
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
                <li>
                    @Html.Label("ShootingPlace")
                    <input type="text" name="ShootingPlace" id="ShootingPlace" />
                    @Html.ValidationMessageFor(m => m.ShootingPlace)
                </li>
                <li>
                    @Html.Label("ShotAfter")
                    <div id="datetimepicker1" class="input-append date" data-date="29-08-2014 21:05" data-date-format="dd-mm-yyyy hh:ii">
                        <input type="text" id="ShotAfter"  name="ShotAfter">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.ShotAfter)
                </li>
                <li>
                    @Html.Label("ShotBefore")
                    <div id="datetimepicker2" class="input-append date" data-date="29-08-2014 21:05" data-date-format="dd-mm-yyyy hh:ii">
                        <input type="text" id="ShotBefore"  name="ShotBefore">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>
                    @Html.ValidationMessageFor(m => m.ShotBefore)
                </li>
                <li>
                    @Html.Label("CameraModel")
                    <input type="text" name="CameraModel" id="CameraModel" />
                    @Html.ValidationMessageFor(m => m.CameraModel)
                </li>
                <li>
                    @Html.Label("FocalDistance")
                    <input type="number" name="FocalDistance" id="FocalDistance"/>
                    @Html.ValidationMessageFor(m => m.FocalDistance)
                </li>
                <li>
                    @Html.Label("ShutterSpeed")
                    <input type="number" name="ShutterSpeed" id="ShutterSpeed" />
                    @Html.ValidationMessageFor(m => m.ShutterSpeed)
                </li>
                <li>
                    @Html.Label("ISO")
                    <input type="text" name="ISO" id="ISO" />
                    @Html.ValidationMessageFor(m => m.ISO)
                </li>
                <li>
                    @Html.Label("Diaphragm")
                    <input type="text" name="Diaphragm" id="Diaphragm" />
                    @Html.ValidationMessageFor(m => m.Diaphragm)
                </li>
                <li>
                    @Html.Label("Flash")
                    @Html.CheckBoxFor(m => m.Flash)
                </li>
            </ul>
            <input type="submit" value="Search" class="btn btn-primary btn-lg" />
        </fieldset>
    </form>
</div>


<script type="text/javascript">

    $('#datetimepicker1').datetimepicker({
        language: 'en'
    });
</script>
<script type="text/javascript">

    $('#datetimepicker2').datetimepicker({
        language: 'en'
    });
</script>
