@model PhotographyManager.Model.Photo



@{
    ViewBag.Title = "EditPhotosProperties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="well-lg">
    <form method ="post" enctype="multipart/form-data" action=@Url.Action("AddEditedProperties", "Home", new {id = Model.ID })>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <ul>
                <li>
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.ShootingPlace)
                    @Html.TextBoxFor(m => m.ShootingPlace)
                    @Html.ValidationMessageFor(m => m.ShootingPlace)
                </li>
                <li>
                    @Html.LabelFor(m => m.ShootingTime)
                    <div id="datetimepicker" class="input-append date" data-date="29-08-2014 21:05" data-date-format="dd-mm-yyyy hh:ii">
                        <input type="text" value="@Model.ShootingTime" id="ShootingTime" name="ShootingTime">
                        <span class="add-on"><i class="icon-th"></i></span>
                    </div>

                    @Html.ValidationMessageFor(m => m.ShootingTime)
                </li>
                <li>
                    @Html.LabelFor(m => m.CameraModel)
                    @Html.TextBoxFor(m => m.CameraModel)
                    @Html.ValidationMessageFor(m => m.CameraModel)
                </li>
                <li>
                    @Html.LabelFor(m => m.FocalDistance)
                    <input type="number" name="FocalDistance" id="FocalDistance" value=@String.Format(Model.FocalDistance.ToString()).Replace(",",".") />
                    @Html.ValidationMessageFor(m => m.FocalDistance)
                </li>
                <li>
                    @Html.LabelFor(m => m.ShutterSpeed)
                    <input type="number" name="ShutterSpeed" id="ShutterSpeed" value=@String.Format(Model.ShutterSpeed.ToString()).Replace(",",".") />
                    @Html.ValidationMessageFor(m => m.ShutterSpeed)
                </li>
                <li>
                    @Html.LabelFor(m => m.ISO)
                    @Html.TextBoxFor(m => m.ISO)
                    @Html.ValidationMessageFor(m => m.ISO)
                </li>
                <li>
                    @Html.LabelFor(m => m.Diaphragm)
                    @Html.TextBoxFor(m => m.Diaphragm)
                    @Html.ValidationMessageFor(m => m.Diaphragm)
                </li>
                <li>
                    @Html.LabelFor(m => m.Flash)
                    <input type="checkbox" name="Flash" id="Flash" checked=@Model.Flash />
                    @Html.ValidationMessageFor(m => m.Flash)
                </li>

            </ul>
            <input type="submit" value="Edit" class="btn btn-primary btn-lg" />
        </fieldset>
        </form>

</div>



<script type="text/javascript">

    $('#datetimepicker').datetimepicker({
        language: 'en'
    });
</script>

