@model List<PhotographyManager.Model.User>
@{
    ViewBag.Title = "Users";
}

<div class="well-lg">
    <form method="post" action=@Url.Action("AddChangedUsers","Admin")>
        @{
            for (int i = 0; i < Model.Count; i++)
            {
                <label class="text-success">@Model.ElementAt(i).Name</label>
                <div class="well">
                @PhotographyManager.Web.Helpers.PhotoHelper.Radio(@Model.ElementAt(i).Name, @Model.ElementAt(i).GetType().BaseType.Equals(typeof(PhotographyManager.Model.FreeUser)), "Free","Free")
                @PhotographyManager.Web.Helpers.PhotoHelper.Radio(@Model.ElementAt(i).Name, @Model.ElementAt(i).GetType().BaseType.Equals(typeof(PhotographyManager.Model.PaidUser)), "Paid","Paid")
               </div>
                <br />
            }<br />
            <br />
            <input type="submit" value="Save" class="btn btn-primary"  />
       }
        </form>
</div>


