@model PhotographyManager.Model.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Photos";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Photos</title>
    <script type="text/javascript">
        $(function () {
            $('[id=DeleteLink]').on("click", function (event) {
                event.preventDefault();
                //event.returnValue = false;
                var id = event.target.getAttribute('name');//we keep photo's id in name attribute
                $.ajax({
                    url:"@Url.Action("DeletePhoto","Photo")"+'/' + id,
                    @*url: "@Url.HttpRouteUrl("DefaultApi", new {controller="LoadingPhotos" })",*@
                    type: 'POST',
                    success: function() {
                        $('#' + id).remove();
                }
                })
            })
        })
    </script>
</head>
<body>
    <div>
        <div>
            <form method="post" enctype="multipart/form-data" id="fileForm"  action="@Url.Action("UploadAsync","Photo")">
                <input id="fileInput" type="file"
                       data-filename-placement="inside" size="28" class="btn btn-primary" name="OriginalLocation" runat="server">
                <input type="submit" value="Upload" runat="server" id="UploadButton" class="btn btn-primary">
            </form>
        </div>
        <br />
        <div id="photosDiv">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            int count1 = Model.Photo.Count;
            for (int i = 0; i < count1; i++)
            {
                <figure style="display:inline-block; border:none" id="@Model.Photo.ElementAt(i).ID">
                    <img src=@Url.Action("ShowMiniPhoto","Photo", new {id = Model.Photo.ElementAt(i).ID}) alt=""/>
                    <figcaption style="text-align: center; border: none;font-family:'Times New Roman';font-size:larger">
                        @Html.ActionLink("Edit Properties", "EditPhotosProperties", "Photo", new { id = Model.Photo.ElementAt(i).ID },null)
                        <br />
                        @Html.ActionLink("Delete", "DeletePhoto", "Photo", new { id = Model.Photo.ElementAt(i).ID }, new { id = "DeleteLink" , name = Model.Photo.ElementAt(i).ID})
                    </figcaption>
                </figure>
            }
        }
        </div>
    </div>
</body>
</html>
