@model  PhotographyManager.Model.Album

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ObservePhotos</title>
    
    <script type="text/javascript">
        $(document).ready(function () {
            var BlockNumber = 2;  //Infinate Scroll starts from second block
            var inProgress = false;
            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() -
                $(window).height() && !inProgress) {
                    event.preventDefault();
                    inProgress = true;

                    $.ajax({
                        type: "GET",
                        url: "http://localhost:6783/api/LoadingPhotos",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: { BlockNumber: BlockNumber, AlbumName: "@Model.Name" },
                        success: function (res) {
                            BlockNumber = BlockNumber + 1;
                            var photos = JSON.parse(res);
                            for (var key in photos) {
                                var url1 = "@Url.Action("ShowMiniPhoto","Photo")" +"/" + photos[key]
                                var url2= "@Url.Action("ShowCurrentPhoto","Photo")"  +"/"+photos[key]
                                $("#photosDiv").append("<figure style='display:inline-block; border:none; vertical-align:top'><img src=" + url1 + " alt=''/><figcaption style='border:none'>")
                                $.get(url2, function (data) {
                                    $(data).appendTo("#photosDiv");


                                });
                                $("#photosDiv").append("</figcaption></figure><br />")

                            }
                        }
                   


                    });
                    //$.ajax({
                    //    type: "GET",
                    //    url: "http://localhost:6783/api/LoadingPhotos",
                    //    dataType: "json",
                    //    success: function(){alert("Successs")}

                    //}).done(function(){alert("done")})

                    inProgress = false;
            
                }
            })
        })
    </script>
    @*<script type="text/javascript">
        $(document).ready(function (){  $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() -
  $(window).height()) { alert("scrolled")}
        })})
    </script>*@
</head>
<body>

    <div id="photosDiv">
        @for (int i = 0; i < Model.Photo.Count&&i<4; i++)
        {
            <figure style="display:inline-block; border:none; vertical-align:top">
                <img src=@Url.Action("ShowMiniPhoto", "Photo", new { id = Model.Photo.ElementAt(i).ID }) alt=""/>
                <figcaption style="border:none">
                    @*<a  href="#@i.ToString()" data-toggle="modal">Show</a>
                    <div id="@i.ToString()" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body" id="currentPhoto" style="height:1000px">
                            <img src=@Url.Action("ShowMiddlePhoto", "Photo", new { id = Model.Photo.ElementAt(i).ID }) alt="" style="vertical-align:middle" id="Image" />
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Name: @Model.Photo.ElementAt(i).Name</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Shooting Place: @Model.Photo.ElementAt(i).ShootingPlace</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Shooting Time: @Model.Photo.ElementAt(i).ShootingTime</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Camera Model: @Model.Photo.ElementAt(i).CameraModel</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Diaphragm: @Model.Photo.ElementAt(i).Diaphragm</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">ISO: @Model.Photo.ElementAt(i).ISO</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Shutter Speed: @Model.Photo.ElementAt(i).ShutterSpeed</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Focal Distance: @Model.Photo.ElementAt(i).FocalDistance</p>
                            <p class="text-center" style="font-family:'Times New Roman'; font-size:large">Flash: @Model.Photo.ElementAt(i).Flash</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#@((i-1).ToString())" class="btn btn-primary" style="float:left" data-dismiss="modal" data-toggle="modal">Previous</a>
                            <a href="#@((i+1).ToString())" class="btn btn-primary" data-dismiss="modal" data-toggle="modal">Next</a>
                        </div>
                    </div>*@
                    @Html.Action("ShowCurrentPhoto", "Photo", new {id = Model.Photo.ElementAt(i).ID })
                </figcaption>
            </figure>
         <br />
        }
    </div>




</body>
</html>


