@model  PhotographyManager.Model.Album

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Observe Photos</title>
    
    <script type="text/javascript">
    $(document).ready(function () {
        var BlockNumber = 3;
        var inProgress = false;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() -
            $(window).height() && !inProgress) {
                event.preventDefault();
                inProgress = true;

                $.ajax({
                    type: "GET",
                    // url: "http://localhost:6783/api/LoadingPhotos",
                    url: "@Url.HttpRouteUrl("DefaultApi", new {controller="LoadingPhotos" })",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: { BlockNumber: BlockNumber, AlbumName: "@Model.Name" },
                    success: function (res) {
                        BlockNumber = BlockNumber + 1;
                        for (var key in res) {
                            var url1 = "@Url.Action("ShowMiniPhoto","Photo")" + "/" + res[key];
                            var url2 = "@Url.Action("ShowCurrentPhoto","Photo")" + "/" + res[key];
                            $.ajax({
                                 url: url2,
                                 type: "GET",
                                 async: false,
                                 success: function (data) { $("#photosDiv").append("<figure style='display:inline-block; border:none; vertical-align:top'><img src=" + url1 + " alt=''/><figcaption style='border:none'>" + data + "</figcaption></figure><br />") }
                                })
                        }
                        inProgress = false;
                    }
                });
            }
        })
    })
    </script>
</head>
<body>
    <div id="photosDiv">
        @for (int i = 0; i < Model.Photo.Count&&i<8; i++)
        {
            <figure style="display:inline-block; border:none; vertical-align:top">
                <img src=@Url.Action("ShowMiniPhoto", "Photo", new { id = Model.Photo.ElementAt(i).ID }) alt=""/>
                <figcaption style="border:none">
                    @Html.Action("ShowCurrentPhoto", "Photo", new {id = Model.Photo.ElementAt(i).ID })
                </figcaption>
            </figure>
         <br />
        }
    </div>
</body>
</html>


