@model PhotographyManager.Model.RegisterModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

<form name="f1" method="post" >
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="well">
        <fieldset>
            <legend>Registration Form</legend>
            <ul>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ul>

            <input type="submit" value="Register As Free User" name="submitBtn" class="btn btn-primary btn-lg" onclick="f1.action='@Url.Action("RegisterFreeUser", "Account")';return true" />

            <input type="submit" value="Register As Paid User" name="submitBtn" class="btn btn-primary btn-lg" onclick="f1.action='@Url.Action("RegisterPaidUser", "Account")';return true" />

        </fieldset>
    </div>
</form>

